---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Machine Learning Projects" }}</h3>

{% if paginator %}
  {% assign projects = paginator.projects %}
{% else %}
  {% assign projects = site.projects %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for project in projects %}
    <article>
      <h2><a href="{{ project.url }}">{{ project.title }}</a></h2>
      <p>{{ project.excerpt | markdownify }}</p>
    </article>
  {% endfor %}
</div>

{% include paginator.html %}
